.header__logo {
    margin-top: 24px;
    transition: all .3s ease;
}

.header__logo:hover {
    fill: #E07A7A
}

@media screen and (max-width: 1200px) {
    .header__logo {
        width: 69.534px;
        height: 31.32px;
    }
}

@media screen and (max-width: 512px) {
    .header__logo {
        width: 53.987px;
        height: 24.32px;
        margin-top: 13px;
    }
}