.header__nav-block_anim_open {
    animation: open 1s forwards;
}

@media screen and (max-width: 992px) {
    .header__nav-block_anim_open {
        animation: openSmallScreen 1s forwards;
    }
}

@keyframes open {
    from {
        margin-top: -29px;
    }

    to {
        margin-top: 29px;
    }
}

@keyframes openSmallScreen {
    from {
        margin-top: -20px;
    }

    to {
        margin-top: 29px;
    }
}