.header__basket {
    background-image: url(../../../images/basket.svg);
    width: 25.017px;
    height: 25px;
    flex-shrink: 0;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin-left: 28.74px;
    margin-top: 30px;
    transition: all .3s ease;
}

.header__basket:hover {
    background-image: url(../../../images/basketHover.svg);
}

@media screen and (max-width: 1600px) {
    .header__basket {
        margin-top: 29px;
    }
}

@media screen and (max-width: 992px) {
    .header__basket {
        margin-top: 27px;
    }
}

@media screen and (max-width: 512px) {
    .header__basket {
        margin-top: 12px;
    }
}