.header__search {
    background-image: url(../../../images/searchBtn.svg);
    height: 25px;
    width: 25.3px;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: all .3s ease;
    position: absolute;
    top: 30px;
    right: 264px;
}

.header__search:hover {
    background-image: url(../../../images/searchBtnHover.svg);
}