.header__input {
    width: 1267px;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__input::placeholder {
    color: #808080;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__input:focus+.header__deco {
    background-color: #E07A7A;
}